body {
    margin: 0;
}

.slider {
    position: relative;
    width: 100dvw;
    height: 100dvh;

    h1,h2,p,span {
        margin: 0;
    }

    .slider-bttn {
        position: absolute;
        top: 50%;
        background: none;
        border: none;
        cursor: pointer;

        &.prev {
            left: 1rem;
        }

        &.next {
            right: 1rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .slider-selector {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 0.5rem;

        .slider-select {
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}